:root {
  --cell-border: 1px solid lightgrey;
  --cell-highlight-color: royalblue;
}

* {
  box-sizing: border-box;
}

.Cell {
  position: relative;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-left: 0;
  border-right: var(--cell-border);
  border-bottom: var(--cell-border);
  border-radius: 0;
  height: 26px;
  width: 100px;
}

.cell-input {
  padding: .25rem;
  border: 0;
  width: 100%;
  height: 1.5rem;
}

.cell-value {
  padding: .25rem
}

.--top {
  border-top: var(--cell-border);
}

.--left {
  border-left: var(--cell-border);
}

.--dragged {
  border: 1px dashed lightgrey;
}

.--focused,
.Cell:focus {
  border: 1px solid var(--cell-highlight-color);
}

.drag-affordance {
  position: absolute;
  z-index: 2;
  bottom: -5px;
  right: -5px;
  height: 10px;
  width: 10px;
  padding: 0;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--cell-highlight-color);
}

.--drag {
  border-style: dashed;
}
